@import 'mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    width: 100vw;
    // img {
    //     max-width: 100%;
    // }

    header {
        display: grid;
        grid-template-columns: max-content 1fr;
        padding: 26px 56px;
        position: absolute;
        z-index: 5;
        width: 100%;

        a.logo {
            display: block;

            svg {
                fill: #e50914;
                height: clamp(17px, 2.5vw, 37px);
            }
        }

        div+div {
            text-align: right;
        }

        .button {
            display: inline-block;
            background-color: #e50914;
            color: #fff;
            text-decoration: none;
            padding: 7px 17px;
            border-radius: 3px;
            font-size: inherit;
        }

        .select {
            display: inline-block;
            margin-right: 30px;


            svg {
                height: 20px;
                fill: #fff;
                position: absolute;
                margin-top: 8px;
                margin-left: 4px;
            }
        }

        select {
            background: transparent;
            color: #fff;
            padding: 8px 0 8px 20px;
            border-radius: 3px;

            option {
                background-color: #000;
                color: white;
                border: none;
            }
        }

    }

    div.splash {
        position: relative;

        div.gradient {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8));
            position: absolute;
            inset: 0;
        }

        div.background {
            img {
                max-width: 100%;
                opacity: 0.6;
            }
        }

        div.content {
            width: 50%;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            inset: 0;
            // left: 50%;
            // // margin-left: -327.5px; //calc(-655/2)px;
            // // transform: translate(-50%,-50%);
            display: grid;
            align-items: center;
            text-align: center;

            div {
                h1 {
                    font-size: clamp(1.6rem, 4vw, 3.125rem);
                    font-weight: bold;
                }

                h2 {
                    font-size: clamp(1.125rem, 4vw, 1.625rem);
                    ;
                    font-weight: normal;
                }

                h3 {
                    font-size: clamp(1rem, 4vw, 1.2rem);
                    ;
                    font-weight: normal;
                }

                form {
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr max-content;
                    margin-top: 20px;

                    span {
                        position: absolute;
                        left: 12px;
                        top: 19px;
                        z-index: 3;
                        color: #ddd;
                        transition: all 0.15s ease;
                        pointer-events: none;

                    }

                    input {
                        padding: 15px 10px;
                        font-size: 1.2rem;
                        width: 100%;

                        &:focus {
                            padding-top: 19px;
                            padding-bottom: 11px;

                            ~span {
                                top: 4px;
                                font-size: 0.8rem;
                            }
                        }
                    }

                    div {
                        button {
                            font-size: 1.625rem;
                            padding: 11px 26px;
                            background: #e50914;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 46px;
        padding: 70px 35px;
        align-items: center;

        .texts {
            h1 {
                font-size: clamp(1.75rem, 4vw, 3.125rem);
                margin-bottom: 8px;
            }

            p {
                font-size: 1.625rem;
            }

        }

        .media {
            position: relative;

        }

        .s1 {
            img {
                width: 400px;
            }

            video {
                width: 293px;
                position: absolute;
                top: 63px;
                left: 52px;
            }

        }

        &:nth-child(even) div.texts {
            order: 2;
        }

        .media {
            display: flex;
            align-items: center;
            justify-content: center;

            .download {
                border: 2px solid #666;
                border-radius: 15px;
                padding: 10px;
                height: 5.7em;
                display: grid;
                text-align: center;
                align-items: center;
                position: absolute;
                bottom: 20px;
                width: 70%;
                left: 50%;
                margin-left: -35%;
                background-color: #000;
                gap: 15px;
                grid-template-columns: max-content 1fr max-content;

                .cover {
                    height: 4.5em;
                    width: auto;
                }

                .down-text {
                    h3 {
                        font-size: 1em;
                    }

                    p {
                        color: #0071eb;
                        font-size: 0.9em;
                    }
                }
            }

        }


    }

    .faq {
        padding: 70px 30px;

        h1 {
            font-size: clamp(1.75rem, 4vw, 3.125rem);
            text-align: center;
            margin-bottom: 40px;
        }

        .questions {
            max-width: 635px;
            margin: 0 auto;

            font-size: 1.625rem;

            .question {
                position: relative;
                background-color: #303030;
                margin-bottom: 4px;

                input {
                    display: none;

                    &:checked {

                        ~.answer {
                            padding: 30px 30px;
                            max-height: 600px;
                            margin-bottom: 5px;
                        }

                        ~.header svg {
                            transform: rotate(180deg);
                        }
                    }
                }

                .header {
                    padding: 20px 30px;
                    border-bottom: 1px solid #000;
                    cursor: pointer;
                    display: block;

                    svg {
                        width: 30px;
                        height: 30px;
                        right: 30px;
                        top: 10px;
                        position: absolute;
                        transform: rotate(45deg);
                        transition: all 0.2s ease;
                    }
                }

                .answer {
                    padding: 0px 30px;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.2s ease;
                }
            }

            form {
                position: relative;
                display: grid;
                grid-template-columns: 1fr max-content;
                margin-top: 20px;

                span {
                    position: absolute;
                    left: 12px;
                    top: 19px;
                    z-index: 3;
                    color: #ddd;
                    transition: all 0.15s ease;
                    pointer-events: none;

                }

                input {
                    padding: 15px 10px;
                    font-size: 1.2rem;
                    width: 100%;

                    &:focus {
                        padding-top: 19px;
                        padding-bottom: 11px;

                        ~span {
                            top: 4px;
                            font-size: 0.8rem;
                        }
                    }
                }

                div {
                    button {
                        font-size: 1.625rem;
                        padding: 11px 26px;
                        background: #e50914;
                        color: #fff;
                    }
                }
            }

        }
    }

}

// @include breakpoint(mobile) {
//     body {
//         border: 10px solid #ff0000;
//     }
//  } 